<header>
    <div class="head">
        <div class="logo">
            <img src="images/MCE_logo.png" alt="mce logo">
        </div>
        <div class="title">
            <h1>Elective Course Registration</h1>
            <p>Malnad College of Engineering</p>
        </div>
    </div>
</header>