<section class="sidebar">
    <div class="side-header">
        <div class="sidefac">
            <h4>Faculty</h4>
        </div>
        <div class="sideSelect">
            <div class="sideContent">
                <img src="images/home.svg" alt="logo"> 
                <a href="dashboard">Home</a>
            </div>
            <div class="sideContent">
                <img src="images/app-store.svg" alt="logo">
                <a href="creation">Elective Creation</a>
            </div>
        </div>
    </div>
    <div class="sideLogout">
        <form action="logout" method="post">
            <button type="submit">Logout &nbsp; <i class="fa-solid fa-arrow-right-from-bracket"></i></button> 
        </form>
    </div>
</section>