<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elective Course Registration</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/subjectDisplay.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('header.ejs') %>
        <div class="display">
            <div class="display-sub">
                <h1>
                    <%= subjectName %>
                </h1>
                <p>
                    <%= subjectCode %>
                </p>
                <a href="http://mcehassan.ac.in/home/Syllabus/Computer-Science-and-Engineering">Know Your Syllabus</a>
            </div>
            <div class="query">
                <h3>For any queries</h3>
                <p>Contact</p>
                <hr>
                <div class="faculty">
                    <p>Faculty Advisor</p>
                    <a href="#">Mr Vinod A M</a>
                </div>
            </div>
        </div>

</body>
<script>
</script>

</html>